<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hungry For Apples?.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B26357BD1BCD98AF00D416AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B26357D11BCD98AF00D416AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B26357DC1BCD98AF00D416AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
