<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fact1</key>
	<string>Apples are a fruit.</string>
	<key>fact2</key>
	<string>A peck of apples weighs 10.5 lbs.</string>
	<key>fact3</key>
	<string>Apples are nutritious.</string>
	<key>fact4</key>
	<string>Apples are poisonous.</string>
	<key>fact5</key>
	<string>Apple seeds contain arsenic.</string>
</dict>
</plist>
